<div layout="column"  layout-align="start">


  <div >
             <img ng-src="{{user.imageId}}"alt="GR" class="face-square"/>
  </div>
  <div>

   <div class="row">
        <md-text-float label="Website" ng-model="user.website"></md-text-float>
        <md-text-float label="eMail" ng-model="user.email" type="email"></md-text-float>
      </div>
    
      <md-text-float label="Company" ng-model="user.company"></md-text-float>
      <div class="row">
          <md-text-float label="FirstName" ng-model="user.firstName"> </md-text-float>
          <md-text-float label="LastName" ng-model="user.lastName" class="long"> </md-text-float>
      </div>
      <md-text-float label="Address" ng-model="user.address.line"> </md-text-float>
      <div class="row">
        <md-text-float label="City" ng-model="user.address.city"> </md-text-float>
        <md-text-float label="State" ng-model="user.address.state"> </md-text-float>
        <md-text-float label="Postal Code" ng-model="user.address.postalCode"> </md-text-float>
      </div>
      <md-text-float label="Country" ng-model="user.address.country"> </md-text-float>
    
  </div>
  <div class="buttondemoBasicUsage">
    <md-content>
   <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-raised md-primary" aria-label="save" ng-click="save()">Save</md-button>
      <md-button ng-if="proUserId" class="md-raised md-warn" aria-label="delete" ng-click="remove()">Remove</md-button>
      <md-button class="md-raised md-warn" aria-label="back to list" ng-click="goToList()">Back to list</md-button>
    </section>
  </md-content>
</div>
</div>