
<section id="dropContainer" layout="vertical"  layout-fill  layout-align="center start">


<div layout-fill class="dropzone" dropzone="dropzoneConfig"  id="dropPreviewContainer">

</div>
  <div layout="horizontal" layout-margin layout-fill>

    <div layout="vertical" flex="25">

      <md-checkbox   ng-model="tags['male']" aria-label="Male">
        Male
      </md-checkbox>

      <md-checkbox   ng-model="tags['female']" aria-label="female">
        Female
      </md-checkbox>
      </div>

    <div layout="vertical" flex="25">

      <md-checkbox   ng-model="tags['platine']" aria-label="platine">
        Platine
      </md-checkbox>

      <md-checkbox   ng-model="tags['brown']" aria-label="brown">
        Brown
      </md-checkbox>
      <md-checkbox   ng-model="tags['blond']" aria-label="blond">
        Blond
      </md-checkbox>
      <md-checkbox   ng-model="tags['black']" aria-label="black">
        Black
      </md-checkbox>

      </div>
    <div layout="vertical" flex="25" >
      <md-checkbox   ng-model="tags['short']" aria-label="short">
        Short
      </md-checkbox>
      <md-checkbox   ng-model="tags['medium']" aria-label="medium">
        Medium
      </md-checkbox>
      <md-checkbox   ng-model="tags['long']" aria-label="long">
        Long
      </md-checkbox>
      </div>

      <div layout="vertical" flex="25">

        <md-checkbox   ng-model="tags['classic']" aria-label="classic">
          Classic
        </md-checkbox>
        <md-checkbox   ng-model="tags['trendy']" aria-label="trendy">
          Trendy
        </md-checkbox>

        <md-checkbox   ng-model="tags['vintage']" aria-label="vintage">
          Vintage
        </md-checkbox>

        <md-checkbox   ng-model="tags['prestige']" aria-label="prestige">
          Prestige
        </md-checkbox>

        <md-checkbox   ng-model="tags['creative']" aria-label="creative">
          Creative
        </md-checkbox>
        <md-checkbox   ng-model="tags['curly']" aria-label="curly">
          Curly
        </md-checkbox>

        <md-checkbox   ng-model="tags['bob']" aria-label="bob">
          Bob
        </md-checkbox>

  </div>
  </div>

  <div>

    <md-button ng-disabled="isUploading" class="md-raised md-primary" aria-label="save">Save</md-button>
    <md-button ng-disabled="isUploading" class="md-raised md-warn" aria-label="cancel">Cancel</md-button>

  </div>



</section>

